name: osc-sdk-java release build
on:
  workflow_dispatch:
    inputs:
      api_version:
        description: 'Outscale API version'
        required: true

permissions:
  contents: write

jobs:
  auto-build:
    environment: auto-build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: main
      - uses: actions/setup-java@17f84c3641ba7b8f6deff6309fc4c864478f5d62 # v3
        with:
          distribution: 'temurin' 
          java-version: '11'
          cache: 'maven'

      - name: Write Outscale API version to use
        run: echo "${{ github.event.inputs.api_version }}" > api_version
      - name: check for release duplicate
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: make release-check-duplicate
      
      - name: auto-generate release
        run: make release-build
      - name: push release branch
        run: make release-push
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: create pull request
        run: make release-pr
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
