name: pull-request

on:
  pull_request:
    branches: [ main ]

permissions:
  pull-requests: write
  contents: write
    
jobs:
  reuse-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Reuse specification test
        run: make reuse-test
  examples-test:
    environment: eu-west-2
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: 'temurin' 
          java-version: '11'
          cache: 'maven'
      - name: Local Tests
        run: ./local_tests.sh

      - name: Example tests
        if: "! contains(github.event.pull_request.labels.*.name, 'dependencies')"
        env:
          OSC_ACCESS_KEY: ${{ secrets.OSC_ACCESS_KEY }}
          OSC_SECRET_KEY: ${{ secrets.OSC_SECRET_KEY }}
          OSC_REGION: ${{ secrets.OSC_REGION }}
          OSC_USERNAME: ${{ secrets.OSC_USERNAME }}
          OSC_PASSWORD: ${{ secrets.OSC_PASSWORD }}
        run: make examples-test
